@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Disable Microsoft Edge built-in reveal button */
.no-edge-eye::-ms-reveal {
  display: none !important;
}

.no-edge-eye::-ms-clear {
  display: none !important;
}





